<suite name="MyTestSuite">
	<listeners>
		<listener class-name="com.newGen.testNG.listeners.ListenersClass" />
	</listeners>
	<test thread-count="5" name="BrowserTest">
		<parameter name="userid" value="Krishna" />
		<parameter name="pass" value="Pass@123" />
		<parameter name="fname" value="Krishna" />
		<groups>
			<run>
				<include name="sanity" />
				<!-- 				<exclude name="sanity"></exclude>
 -->
			</run>
		</groups>
		<classes>
			<class name="com.newGen.testNG.TestNGGroups" />
			<class name="com.newGen.testNG.NewTest"/>

			<class name="com.newGen.testNG.listeners.ListenersClass"/>

			<!--<class name="com.newGen.testNG.TestNGTestClass">class not recevied  -->
			<!--<methods>
				<include name="testcase1" />
				<exclude name="testcase2" />
			</methods>-->
			><class name="com.newGen.testNG.BasicBrowserTest" />
		</classes>
	</test>
	<!-- 
	BrowserTest  -->
</suite>
<!-- 
MyTestSuite  -->